<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: common_head(~{::title},~{::meta},~{::link},~{})">
    <title th:text="'Member Login '+${application.website.name}"></title>
    <meta name="keywords"
        th:content="'Member Login, Personal Center '+${application.website.name}+' Novel, '+${application.website.name}" />
    <meta name="description"
        th:content="${application.website.name}+' Daily updates on serialized novels, novel rankings, offering romance novels, urban novels, fantasy novels, time-travel novels, youth novels, CEO wealthy family novels, online novels, free novels, complete novels, debut novels, the latest chapters for free novel reading—everything exciting is here '+${application.website.name}+' Novel！'" />
    <link rel="stylesheet" href="/css/user.css" />
</head>

<body class="">

    <div th:replace="common/top :: top('')">
    </div>

    <div class="main box_center cf">
        <div class="userBox cf">
            <div class="user_l">
                <form method="post" action="./login.html" id="form1">
                    <h3 th:text="'Log In'+${application.website.name}"></h3>
                    <ul class="log_list">
                        <li><span id="LabErr"></span></li>
                        <li><input name="txtUName" type="text" id="txtUName" placeholder="Phone number"
                                class="s_input icon_name" /></li>
                        <li><input name="txtPassword" type="password" id="txtPassword" placeholder="Password"
                                class="s_input icon_key" /></li>
                        <li class="autologin cf"><label class="fl"><input id="autoLogin" type="checkbox" /><em>Next time
                                    Auto Log In</em></label></li>
                        <li><input type="button" name="btnLogin" value="Log In" id="btnLogin" class="btn_red" /></li>
                    </ul>
                </form>
            </div>
            <div class="user_r">
                <p class="tit">Haven't registered an account yet?</p>
                <a href="/user/register.html" class="btn_ora_white">Register Now</a>
                <div class="fast_login" style="display:none;">
                    <div class="fast_tit">
                        <p class="lines"></p>
                        <span class="title">Other Login Methods</span>
                    </div>
                    <!-- TODO: change image for options -->
                    <ul class="fast_list">
                        <li class="login_wb"><a href="/"><img src="/images/login_weibo.png" alt="Google"
                                    class="img" /><span>Google</span></a></li>
                        <li class="login_qq"><a href="/"><img src="/images/login_qq.png" alt="Facebook"
                                    class="img" /><span>Facebook</span></a></li>
                        <li class="login_wx"><a href="/"><img src="/images/login_weixin.png" alt="Instagram"
                                    class="img" /><span>Instagram</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="common/footer :: footer">
    </div>


</body>
<div th:replace="common/js :: js"></div>
<script type="text/javascript">
    if (localStorage.getItem("autoLogin") == 1) {
        $("#autoLogin").attr("checked", 'true');
    } else {
        $("#autoLogin").removeAttr("checked");
    }
    $("#btnLogin").click(function () {
        var username = $("#txtUName").val();
        if (username.isBlank()) {
            $("#LabErr").html("Phone number cannot be empty!");
            return;
        }
        if (!username.isPhone()) {
            $("#LabErr").html("Phone number format is incorrect!");
            return;
        }
        var password = $("#txtPassword").val();
        if (password.isBlank()) {
            $("#LabErr").html("Password cannot be empty!");
            return;
        }
        $.ajax({
            type: "POST",
            url: "/user/login",
            data: { "username": username, "password": password },
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {
                    if ($("#autoLogin").is(':checked')) {
                        $.cookie('Authorization', data.data.token, { expires: 7, path: '/' });
                        localStorage.setItem("autoLogin", "1");
                    } else {
                        $.cookie('Authorization', data.data.token, { path: '/' });
                        localStorage.setItem("autoLogin", "0");
                    }
                    var orginUrl = getSearchString("originUrl");
                    window.location.href = orginUrl == undefined || orginUrl.isBlank() ? "/" : orginUrl;
                } else {
                    $("#LabErr").html(data.msg);
                }

            },
            error: function () {
                layer.alert('Network Exception');
            }
        })

    })
</script>

</html>