<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: common_head(~{::title},~{::meta},~{::link},~{})">
    <title th:text="'Member Registration '+${application.website.name}"></title>
    <meta name="keywords"
        th:content="'Member Registration, Personal Center '+${application.website.name}+' Novel, '+${application.website.name}" />
    <meta name="description"
        th:content="${application.website.name}+'Daily updates on serialized novels, novel rankings, offering romance novels, urban novels, fantasy novels, time-travel novels, youth novels, CEO wealthy family novels, online novels, free novels, complete novels, debut novels, the latest chapters for free novel reading—everything exciting is here '+${application.website.name}+' Novel！'" />
    <link rel="stylesheet" href="/css/user.css" />
</head>

<body class="">

    <div th:replace="common/top :: top('')">
    </div>

    <div class="main box_center cf">
        <div class="userBox cf">
            <form method="post" action="./register.html" id="form2">
                <div class="user_l">
                    <h3 th:text="'Register Novel Account'"></h3>
                    <ul class="log_list">
                        <li><span id="LabErr"></span></li>
                        <li><input name="txtUName" type="text" id="txtUName" class="s_input icon_name"
                                placeholder="Please enter your phone number" /></li>
                        <li><input name="txtPassword" type="password" id="txtPassword" class="s_input icon_key"
                                placeholder="Please enter password: 6-20 characters, letters or numbers" /></li>
                        <li class="log_code cf"><input name="TxtChkCode" type="text" maxlength="4" id="TxtChkCode"
                                class="s_input icon_code" placeholder="Please enter the verification code" /><img
                                style="border: 1px solid #eee" class="code_pic" src="" id="chkd"
                                onclick="getVerify(this);" /></li>
                        <li><input type="button" name="btnRegister" value="Register" id="btnRegister" class="btn_red" />
                        </li>
                    </ul>
                </div>
            </form>
            <div class="user_r">
                <p class="tit">Already have an account?</p>
                <a href="/user/login.html" class="btn_ora_white">Log In</a>
                <div class="fast_login" style="display:none;">
                    <div class="fast_tit">
                        <p class="lines"></p>
                        <span class="title">Other Login Methods</span>
                    </div>
                    <!-- TODO: change image for options -->
                    <ul class="fast_list">
                        <li class="login_wb"><a href="/"><img src="/images/login_weibo.png" alt="Google"
                                    class="img" /><span>Google</span></a></li>
                        <li class="login_qq"><a href="/"><img src="/images/login_qq.png" alt="Facebook"
                                    class="img" /><span>Facebook</span></a></li>
                        <li class="login_wx"><a href="/"><img src="/images/login_weixin.png" alt="Instagram"
                                    class="img" /><span>Instagram</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="common/footer :: footer">
    </div>
    <div th:replace="common/js :: js"></div>
    <script language="javascript" type="text/javascript">
        $("#chkd").click();
        $(function () {
            $("#form2").submit(function () {
                if ($("#txtUName").val() != "" && $("#txtPassword").val() != "" && $("#TxtSmsCode").val() != "") {
                } else {
                    layer.open({
                        content: 'Please fill in all the information',
                        style: UserUtil.msgStyle,
                        time: 2
                    });
                    return false;
                }
            });
        });

        //获取验证码
        function getVerify(obj) {
            obj.src = "/file/getVerify?" + Math.random();
        }

        $("#btnRegister").click(function () {
            var username = $("#txtUName").val();
            if (username.isBlank()) {
                $("#LabErr").html("Phone number cannot be empty!");
                return;
            }
            if (!username.isPhone()) {
                $("#LabErr").html("Phone number format is incorrect!");
                return;
            }
            var password = $("#txtPassword").val();
            if (password.isBlank()) {
                $("#LabErr").html("Password cannot be empty!");
                return;
            }
            var velCode = $("#TxtChkCode").val();
            if (velCode.isBlank()) {
                $("#LabErr").html("Verification code cannot be empty!");
                return;
            }
            $.ajax({
                type: "POST",
                url: "/user/register",
                data: { "username": username, "password": password, "velCode": velCode },
                dataType: "json",
                success: function (data) {
                    if (data.code == 200) {
                        $.cookie('Authorization', data.data.token, { path: '/' });
                        window.location.href = "/";
                    } else {
                        $("#LabErr").html(data.msg);
                    }

                },
                error: function () {
                    layer.alert('Network Exception');
                }
            })

        })
    </script>
</body>

</html>