<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: common_head(~{::title},~{::meta},~{::link},~{})">
    <title th:text="'Novel Rankings '+${application.website.name}"></title>
    <meta name="keywords"
        content="Novel Rankings, Popular Novel Rankings, Completed Novel Rankings, Finished Novel Rankings, Fully Completed Novel Rankings, Latest Novel Rankings, Online Novel Rankings, Ranking List, Click Rankings, New Book Rankings, Recommended Rankings" />
    <meta name="description"
        th:content="'Latest Popular Online Novel Rankings, including various popular novel charts. The novels on the novel rankings are all beloved by users, and all the excitement is here. '" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/book.css" />
</head>

<body>

    <div th:replace="common/top :: top('2')">
    </div>
    <div class="main box_center cf mb50">
        <div class="channelRankingContent cf">
            <div class="wrap_left fl">
                <div class="wrap_bg">
                    <!--榜单详情 start-->
                    <div class="pad20">

                        <div class="book_tit">
                            <div class="fl">
                                <h3 class="font26 mt5 mb5" id="rankName">Click Rankings</h3>
                            </div>
                            <a class="fr"></a>
                        </div>
                        <div class="updateTable rankTable">
                            <table cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="rank">Ranking</th>
                                        <th class="style">Genres</th>
                                        <th class="name">Title</th>
                                        <th class="chapter">Latest Chapter</th>
                                        <th class="author">Author</th>
                                        <th class="word">Word Count</th>
                                    </tr>
                                </thead>
                                <tbody id="bookRankList">


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--榜单详情 end-->

                </div>
            </div>

            <div class="wrap_right fr">
                <div class="wrap_inner wrap_right_cont mb20">
                    <div class="title cf noborder">
                        <h3 class="on">Rankings</h3>
                    </div>
                    <div class="rightList2">
                        <ul id="rankType">
                            <li><a class="on" href="javascript:listRank(0)">Click Rankings</a></li>
                            <li><a href="javascript:listRank(1)">New Book Rankings</a></li>
                            <li><a href="javascript:listRank(2)">Update Rankings</a></li>
                            <li><a href="javascript:listRank(3)">Comment Rankings</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="common/footer :: footer">
    </div>
    <div th:replace="common/js :: js"></div>

    <script type="text/javascript">
        $("#rankType a").click(function () {
            $("#rankType .on").removeClass("on");
            $(this).addClass("on");
        })

        var rankType = getSearchString("type");
        if (rankType == undefined) {
            rankType = 0;
        } else {
            $("#rankType a").eq(rankType).click();
        }
        listRank(rankType);

        function listRank(rankType) {
            $.ajax({
                type: "get",
                url: "/book/listRank",
                data: { 'type': rankType, 'limit': 30 },
                dataType: "json",
                success: function (data) {
                    if (data.code == 200) {
                        var bookRankList = data.data;
                        var bookRankListHtml = "";
                        for (var i = 0; i < bookRankList.length; i++) {
                            var book = bookRankList[i];
                            var classHtml = "";
                            if (i < 3) {
                                classHtml = "num" + (i + 1);
                            }
                            bookRankListHtml += ("<tr>\n" +
                                "                                <td class=\"rank\"><i class=\"" + classHtml + "\">" + (i + 1) + "</i></td>\n" +
                                "                                <td class=\"style\"><a href=\"/book/bookclass.html?c=" + book.catId + "\" >[" + book.catName + "]</a></td>\n" +
                                "                                <td class=\"name\"><a href=\"/book/" + book.id + ".html\" >" + book.bookName + "</a></td>\n" +
                                "                                <td class=\"chapter\"><a href=\"/book/" + book.id + ".html\" >" + book.lastIndexName + "</a>\n" +
                                "                                </td>\n" +
                                "                                <td class=\"author\"><a href=\"javascript:void(0)\">" + book.authorName + "</a></td>\n" +
                                "                                <td class=\"word\">" + (book.wordCount) + "</td>\n" +
                                "                            </tr>");
                        }
                        $("#bookRankList").html(bookRankListHtml);

                    } else {
                        layer.alert(data.msg);
                    }

                },
                error: function () {
                    layer.alert('Network Exception');
                }
            })
            switch (rankType) {
                case 0: {
                    $("#rankName").html("Click Rankings");
                    break;
                }
                case 1: {
                    $("#rankName").html("New Book Rankings");
                    break;
                }
                case 2: {
                    $("#rankName").html("Update Rankings");
                    break;
                }
                case 3: {
                    $("#rankName").html("Comment Rankings");
                    break;
                }

            }

        }
    </script>

</body>

</html>