<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: common_head(~{::title},~{},~{::link},~{})">
    <title th:text="'Fill Coin '+${application.website.name}"></title>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body class="">

    <div th:replace="common/top :: top('')">
    </div>

    <form action="/pay/aliPay" method="post" id="payform" name="payform">
        <div class="main box_center cf">

            <div class="channelWrap channelPay cf">

                <div class="payBox cf">
                    <div class="payHead cf">
                        <div class="fl">
                            Account: <span class="user_name" id="my_name"></span>Balance: <em class="red"
                                id="accountBalance">0</em> PI Coin
                            <!--<em class="red">+0</em>Voucher-->
                        </div>
                    </div>
                    <div class="payCon">
                        <h5>Select Payment Method</h5>
                        <ul class="pay_way cf" id="ulPayType">
                            <li class="on" valp="1"><img class="pay_pic" src="../images/pay_zfb.png" alt="AliPay" />
                            </li>
                            <li valp="2"><img class="pay_pic" src="../images/pay_wx.png" alt="Wechat Pay" /></li>

                        </ul>
                        <h5>Select Amount</h5>
                        <ul class="pay_way cf" style="display:none;" id="ulPayPal">
                            <li vals="20"><strong>20 USD</strong><span class="pay_mn">2000 PI Coin</span></li>
                            <li vals="50" class="on"><strong>50 USD</strong><span class="pay_mn">5000 PI Coin<em
                                        class="red"></em></span></li>
                            <li vals="100"><strong>100 USD</strong><span class="pay_mn">10000 PI Coin<em
                                        class="red"></em></span></li>
                        </ul>
                        <ul class="pay_Checkout" style="display:none;" id="ulPayPalXJ">
                            <li>Current Exchange Rate: 1 USD = 100 PI Coin</li>
                            <li>Total Amount: <em class="red" id="showPayPalTotal">50 USD</em> get <em class="red"
                                    id="showPayPalRemark">5000 PI Coin</em></li>
                            <li style="display:none"><a class="btn_red" href="javascript:void(0);"
                                    onclick="javascript:UserPay.sendPay();">Pay Now</a></li>
                        </ul>
                    </div>
                    <div class="payFoot">
                        <strong class="tip_tit">Friendly Reminder</strong>
                        <ul class="tip_list">
                            <li>1. Add more coins for reading access is only valid within this book platform</li>
                            <li>2. Add more coins supports credit cards, debit cards, Paypal, and other payment methods
                            </li>
                            <li>3. Annual subscription is for 365 days, and the purchase time will be cumulative in case
                                of repeated purchases</li>
                            <li>4. If you encounter any issues with adding coins, <a href="/user/feedback.html"
                                    target="_blank" class="unlink black9">click here to leave a message</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <input type="hidden" id="pValue" name="payAmount" />
    </form>


    <div th:replace="common/footer :: footer">
    </div>
    <div th:replace="common/js :: js"></div>
    <script src="/javascript/pay.js" type="text/javascript"></script>

    <script type="text/javascript">



        //查询用户信息
        $.ajax({
            type: "get",
            url: "/user/userInfo",
            data: {},
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {
                    if (data.data.nickName) {
                        $("#my_name").html(data.data.nickName);
                    } else {
                        $("#my_name").html(data.data.username);
                    }

                    $("#accountBalance").html(data.data.accountBalance);

                } else if (data.code == 1001) {
                    //未登录
                    location.href = '/user/login.html?originUrl=' + decodeURIComponent(location.href);

                } else {
                    layer.alert(data.msg);
                }

            },
            error: function () {
                layer.alert('Network Exception');
            }
        })

        // $("#ulZFWX").find("li").click(function () {

        //     var payType = $("#ulPayType").find("li.on").attr("valp");

        //     if (payType == 2) {
        //         layer.alert("微信支付暂未开通，敬请期待");
        //         return;
        //     }

        //     $("#pValue").val($(this).attr("vals"));

        //     $("#payform").submit();
        //  });
    </script>


</body>

</html>